body {
    font-family: Arial, sans-serif;
    background-color: #7c7eec9a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    background-color: #d4d4d4b0;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-box {
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #486bb6e8;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
    text-align: center;
}